body {
  font-family: "Lucida Sans Unicode";
  background-color: seashell;
}
.general {
  margin-top: 5%;
}
h1 {
  text-align: center;
  font-size: 50px;
}

p {
  text-align: center;
}

table {
  margin: 0 auto;
  border: 10px solid #bbada0;
  background-color: #bbada0;
}

.button {
  display: flex;
  background-color: #bbada0;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 3px;
  margin: auto;
  margin-top: 100px;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 250ms, 250ms, 100ms;
}

.button:hover {
  background-color: #6de436;
  color: #303030;
}
.table {
  display: flex;
 
}
.cell {
  height: 100px;
  width: 100px;
  background-color:rgba(238, 228, 218, 0.35);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.color-2 {
  background-color: #eee4da;
}

.color-4 {
  background-color: #ede0c8;
}

.color-8 {
  background-color: #f2b179;
}

.color-16 {
  background-color: #f59563;
}

.color-32 {
  background-color: #f67c5f;
}

.color-64 {
  background-color: #f65e3b;
}

.color-128 {
  background-color: #edcf72;
}

.color-256 {
  background-color: #edcc61;
}

.color-512 {
  background-color: #edc850;
}

.color-1024 {
  background-color: #edc53f;
}

.color-2048 {
  background-color: #edc22e;
}

.number {
  color: rgb(0, 0, 0);
  font-size: 35px;
}

.score {
  text-align: center;

  width: 65px;
  padding: 5px;
  border-radius: 5px;
  background-color: #bbada0;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin: auto;
  margin-bottom: 50px;
}
